@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root
{
    --degrade: linear-gradient(69.66deg, #00C1FE 19.39%, #FAFFC1 96.69%);
    --blue: #00C1FE;
    --gris: #E5E5E5;
}

body
{
    font-family: 'Montserrat', sans-serif;
}